@charset "UTF-8";
/* Maps */
/* Extends */
.descripcion {
  display: flex;
  flex-direction: column;
  justify-content: center; }

h4 {
  letter-spacing: 0mm;
  padding: 10px 50px 20px;
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  text-align: center; }

/* Mixins */
* {
  margin: 0px;
  padding: 0px; }

body {
  background-color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 16px; }

/* Header */
.encabezado {
  background: linear-gradient(0deg, white 0%, rgba(0, 0, 0, 0.978326) 4%);
  position: sticky;
  top: 0px;
  z-index: 2; }
  .encabezado__logo {
    width: 120px;
    margin-left: 25%; }
    .encabezado__logo:hover {
      transform: scale(1.1);
      transition: all 1s; }

.collapse {
  display: flex;
  justify-content: flex-end; }

.nav-link {
  margin: 5px;
  padding: 5px;
  color: #f48fb0;
  font-size: 1.3rem;
  font-weight: 500; }
  .nav-link:hover {
    transform: scale(0.9);
    transition: all 1s;
    color: #f5f5f5; }
  .nav-link.activo {
    color: #f5f5f5; }

.h1 {
  padding: 20px;
  text-align: center;
  color: #f5f5f5; }
  .h1:hover {
    transform: scale(1) rotateX(360deg);
    transition: all 5s; }

/* Footer */
.lista {
  margin: auto;
  padding: 0;
  width: 90%;
  display: flex;
  justify-content: center; }
  .lista .redesSociales {
    color: #7e0719;
    padding: 5px;
    font-style: normal; }
    .lista .redesSociales:hover {
      transform: scale(1.1);
      transition: all 1s;
      color: #7e0719; }
  .lista i a {
    color: #f5f5f5;
    text-decoration: none; }
    .lista i a:hover {
      color: #7e0719; }

#whatsapp {
  width: 38px;
  position: fixed;
  right: 35px;
  bottom: 21px;
  z-index: 1; }

span {
  padding: 10px;
  color: #95959558;
  font-size: 15px; }

/* Index */
.titulo {
  margin: 0;
  padding: 30px;
  color: #f5f5f5;
  font-size: 3em; }
  .titulo__parrafo {
    color: #f5f5f5;
    margin: 1px 3%;
    text-align: center;
    font-size: x-large; }
  .titulo__centrado {
    color: #f5f5f5;
    line-height: 1.42857143;
    margin: 15px;
    text-align: center; }
  .titulo__trinchera {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    margin: 15px;
    padding: 15px; }

h2 {
  font-family: "Playfair Display", serif; }

.boton {
  text-align: center;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px; }
  .boton #link {
    color: #f5f5f5;
    text-decoration: none;
    background-color: rgba(126, 7, 25, 0.577);
    border: solid 2px #f5f5f5;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    font-weight: 400; }
    .boton #link:hover {
      background-color: #802e3b;
      color: #f5f5f5;
      transform: scale(1.1);
      transition: all 1s; }

/* Biografía */
.h2 {
  color: #f5f5f5;
  line-height: 1.42857143;
  margin-bottom: 15px;
  text-align: center; }

.parrafo {
  color: #f5f5f5;
  text-align: center;
  font-size: 20px;
  margin: 15px 5%; }

.grupo {
  padding: 15px 30px;
  display: flex;
  justify-content: center; }
  .grupo .carousel {
    width: 99%; }

/* Discografía */
.portada {
  display: flex;
  border-radius: 10px;
  min-height: 350px;
  min-width: 350px;
  font-weight: bold;
  background-size: cover;
  background-position: center;
  overflow: hidden; }
  .portada__album {
    display: flex;
    border-radius: 10px;
    min-height: 350px;
    min-width: 350px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: 0.5s; }
    .portada__album:hover {
      opacity: 1; }

ol li {
  color: white; }

/* Tour */
.concierto {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; }
  .concierto__gira {
    display: flex;
    border-radius: 5px;
    min-height: 250px;
    min-width: 330px;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    min-height: 300px;
    min-width: 450px;
    /* @include deskt(){
      min-height: 300px;
      min-width: 450px; */ }
    .concierto__gira__tour {
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: center;
      border-radius: 5px;
      min-height: 250px;
      min-width: 330px;
      font-weight: bold;
      text-decoration: none;
      background: rgba(0, 0, 0, 0.4);
      opacity: .9;
      transition: 0.5s;
      min-height: 300px;
      min-width: 450px;
      /* @include deskt(){
        min-height: 300px;
        min-width: 450px; */ }
      .concierto__gira__tour:hover {
        opacity: 1;
        color: pink;
        /* color: map-get($colors, "rosita"); */ }

/* Contacto */
/* .formulario {
  padding: 5%;
  margin: 0px 10%;
  margin-bottom: 20px;
  display: map-get($box, "display");
  flex-direction: map-get($box, "linea");
  background-color: $color-form;
  border-radius: 25px;

  .botonForm {
    display: map-get($box, "display");
    justify-content: map-get($box, "centro");

    .btn {
      background-color: $boton-form;
      color: $color-secundario;

      &:hover{
        background-color: $color-principal;
      }
    }
  }
} */
.formulario {
  width: 460px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  background-color: #7d3e48;
  /* @include mob(){ */
  width: 340px;
  /* } */ }
  .formulario input {
    background-color: #fbfbfb;
    width: 408px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: pink;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    /* @include mob(){ */
    width: 300px;
    /* } */ }
  .formulario textarea {
    background-color: #fbfbfb;
    width: 405px;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: pink;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
    /* @include mob(){ */
    width: 300px;
    /* } */ }

label {
  display: block;
  float: center; }

.botonform {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: pink;
  border-color: pink;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer;
  /* @include mob(){ */
  width: 300px;
  /* } */ }
  .botonform p {
    color: black; }

.aviso {
  font-size: 13px;
  color: #0e0e0e; }

::-webkit-input-placeholder {
  color: grey; }

::-webkit-textarea-placeholder {
  color: grey; }

.formulario input:focus {
  outline: 0;
  border: 1px solid black; }

.formulario textarea:focus {
  outline: 0;
  border: 1px solid black; }

.iframeindex {
  width: 570px;
  height: 350px;
  margin-top: 2rem;
  /* @include mob(){ */
  width: 310px;
  height: 210px;
  /* } */ }

.fondobio {
  /* @include mob(){ */
  width: 340px;
  height: 240px;
  /* } */ }

.fondobio {
  /* @include mob(){ */
  width: 340px;
  height: 240px;
  /* } */ }

@media screen and (max-width: 1440px) {
  .imagen1, .imagen2 {
    height: fit-content;
    margin: 20px; }
  .videos {
    display: flex;
    align-content: center;
    justify-content: center; }
    .videos iframe {
      width: 350px;
      height: 200px;
      margin: 10px; } }

@media screen and (max-width: 480px) {
  .fondo {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-evenly; }
    .fondo .subtitulo {
      padding: 0; }
  .textoCentrado {
    font-size: 1.3em; }
  .imagenTexto1, .imagenTexto2, .grid {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .imagen1, .imagen2 {
    margin: 0auto;
    padding: 15px;
    width: 250px; }
  .footer .pieMedia {
    display: grid;
    grid-template-columns: 1fr; }
  .footer .footer__lista {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center; }
  .videos {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px; }
    .videos iframe {
      width: 300px;
      height: 200px; } }
