* {
  margin: 0px;
  padding: 0px; }

body {
  color: #151515;
  font-family: 'Lato', sans-serif;
  font-size: 16px; }

.encabezado {
  background-color: #f5f5f5;
  background: linear-gradient(90deg, white 20%, #a6142a 60%);
  border-radius: 10px;
  margin: 5px;
  position: sticky;
  top: 0px;
  z-index: 1; }

img {
  width: 50px;
  margin-left: 25%; }
  img:hover {
    transform: scale(1.1);
    transition: all 1s; }

.collapse {
  display: flex;
  justify-content: flex-end; }

.nav-link {
  padding: 5px;
  margin: 5px;
  font-size: 1.3rem;
  font-weight: 500; }
  .nav-link:hover {
    transform: scale(0.8);
    transition: all 1s;
    color: #f5f5f5; }
  .nav-link.activo {
    color: #f5f5f5; }

.resaltado {
  background-color: #a6142ab4;
  border-radius: 5px; }

.primerParrafo {
  text-align: center; }

.footer {
  background-color: #000000; }
  .footer .footerSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }
  .footer .footer__lista {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto; }
    .footer .footer__lista .redesSociales {
      color: #791121;
      padding: 20px;
      font-style: normal; }
      .footer .footer__lista .redesSociales:hover {
        transform: scale(1.2);
        transition: all 1s;
        color: #791121; }
    .footer .footer__lista i a {
      color: #414549;
      text-decoration: none; }
      .footer .footer__lista i a:hover {
        color: #791121; }

h5 {
  color: #a6142a;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
  padding: 12px;
  font-weight: 400;
  line-height: 24px; }

p {
  color: #414549;
  padding: 0px 20px;
  line-height: 24px;
  letter-spacing: 0;
  font-weight: 400;
  font-size: 21px; }

#whatsapp {
  width: 50px;
  position: fixed;
  right: 21px;
  bottom: 21px; }

span {
  color: #77777758;
  font-size: 15px;
  font-weight: 100;
  padding: 10px;
  margin: 10px;
  display: flex; }

.fondo {
  background-color: #a6142ad6;
  background-image: url(../imagenes/fondo1.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  .fondo .subtitulo {
    color: #f5f5f5;
    text-shadow: 2px 2px #151515;
    text-align: center;
    font-size: 3em;
    padding: 60px;
    margin: 20px; }
    .fondo .subtitulo h3 {
      font-family: "Playfair Display", serif; }

.textoCentrado {
  color: #f5f5f5;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 2em;
  line-height: 1.42857143;
  text-align: center;
  text-shadow: 2px 2px #151515;
  margin: 2em; }

.boton {
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
  height: 110px; }
  .boton #link {
    color: #f5f5f5;
    text-decoration: none;
    background-color: #3133357c;
    border: solid 2px #791121;
    border-radius: 5px;
    padding: 20px 20px 20px 20px; }
    .boton #link:hover {
      background-color: #f5f5f569;
      color: #151515;
      transform: scale(1.2);
      transition: all 1s; }

.imagenTexto1 {
  display: flex; }
  .imagenTexto1 .descripcion {
    color: #151515;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .imagenTexto1 .descripcion h4 {
      font-family: "Playfair Display", serif;
      letter-spacing: 0mm;
      font-size: 1.5rem;
      padding: 10px 50px 20px; }

.imagenTexto2 {
  display: flex;
  flex-direction: row-reverse; }
  .imagenTexto2 .descripcion {
    color: #151515;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .imagenTexto2 .descripcion h4 {
      font-family: "Playfair Display", serif;
      letter-spacing: 0mm;
      font-size: 1.5rem;
      padding: 10px 50px 20px; }

.imagen1, .imagen2 {
  width: 350px;
  margin: 70px 70px; }
  .imagen1:hover, .imagen2:hover {
    transform: scale(1.1);
    transition: all 2s; }

.h1 {
  text-align: center;
  margin: 5px;
  padding: 20px;
  font-size: 30px;
  background: radial-gradient(circle, #a6142a 10%, white 35%); }
  .h1:hover {
    transform: scale(1) rotateX(360deg);
    transition: all 5s; }

.galeriaImagenes {
  width: 85%;
  overflow-x: scroll;
  display: flex;
  flex-wrap: nowrap;
  margin: 0 auto; }
  .galeriaImagenes .imagen3 {
    width: 350px;
    object-fit: cover;
    margin: 0px 10px; }
    .galeriaImagenes .imagen3:hover {
      transform: scale(0.9);
      transition: all 1s; }

.videos {
  margin: 90px;
  display: flex;
  justify-content: space-around; }
  .videos iframe {
    width: 600px;
    height: 400px; }
