@charset "UTF-8";
/* Maps */
/* Extends */
.descripcion, .imagenTexto1 .descripcion, .imagenTexto2 .descripcion, .ubicacionMapa {
  display: flex;
  flex-direction: column;
  justify-content: center; }

h4, .imagenTexto1 .descripcion h4, .imagenTexto1 .ubicacionMapa h4, .imagenTexto2 .descripcion h4, .imagenTexto2 .ubicacionMapa h4 {
  letter-spacing: 0mm;
  padding: 10px 50px 20px;
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  text-align: center; }

/* Mixins */
* {
  margin: 0px;
  padding: 0px; }

body {
  color: #151515;
  font-family: 'Lato', sans-serif;
  font-size: 16px; }

/* Header */
.encabezado {
  background-color: #f5f5f5;
  background: linear-gradient(90deg, white 20%, #a6142a 60%);
  margin: 0px;
  position: sticky;
  top: 0px;
  z-index: 1; }

img {
  width: 50px;
  margin-left: 25%; }
  img:hover {
    transform: scale(1.1);
    transition: all 1s; }

.collapse {
  display: flex;
  justify-content: flex-end; }

.nav-link {
  margin: 5px;
  padding: 5px;
  color: #F48484;
  font-size: 1.3rem;
  font-weight: 500; }
  .nav-link:hover {
    transform: scale(0.8);
    transition: all 1s;
    color: #f5f5f5; }
  .nav-link.activo {
    color: #f5f5f5; }

.resaltado {
  background-color: #a6142ab4;
  border-radius: 5px; }

.h1 {
  margin: 5px;
  padding: 20px;
  text-align: center;
  font-size: 30px;
  background: radial-gradient(circle, #a6142a 10%, white 35%); }
  .h1:hover {
    transform: scale(1) rotateX(360deg);
    transition: all 5s; }

.primerParrafo {
  text-align: center; }

/* Footer */
.footer {
  background-color: #000000; }
  .footer .footerSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }
  .footer .footer__lista {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto; }
    .footer .footer__lista .redesSociales {
      color: #791121;
      padding: 20px;
      font-style: normal; }
      .footer .footer__lista .redesSociales:hover {
        transform: scale(1.2);
        transition: all 1s;
        color: #791121; }
    .footer .footer__lista i a {
      color: #555a5f;
      text-decoration: none; }
      .footer .footer__lista i a:hover {
        color: #791121; }

h5 {
  margin: 5px;
  padding: 12px;
  color: #a6142a;
  display: flex;
  flex-direction: row;
  justify-content: center;
  line-height: 24px;
  font-size: 20px;
  font-weight: 400; }

p {
  color: #555a5f;
  padding: 0px 20px;
  line-height: 24px;
  letter-spacing: 0;
  font-weight: 400;
  font-size: 21px; }

#whatsapp {
  width: 50px;
  position: fixed;
  right: 21px;
  bottom: 21px; }

span {
  margin: 10px;
  padding: 10px;
  color: #77777758;
  display: flex;
  font-size: 15px;
  font-weight: 100; }

/* Index */
.fondo {
  background-color: #a6142ad6;
  background-image: url(../imagenes/fondo1.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  .fondo .subtitulo {
    margin: 0;
    padding: 60px;
    color: #f5f5f5;
    font-size: 3em;
    text-align: center;
    text-shadow: 2px 2px #151515; }
    .fondo .subtitulo h3 {
      font-family: "Playfair Display", serif; }

.textoCentrado {
  color: #f5f5f5;
  line-height: 1.42857143;
  margin: 2em;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 2em;
  text-align: center;
  text-shadow: 2px 2px #151515; }

.boton {
  text-align: center;
  height: 110px;
  font-size: 1.25rem;
  font-weight: 400; }
  .boton #link {
    color: #f5f5f5;
    text-decoration: none;
    background-color: #3133357c;
    border: solid 2px #791121;
    border-radius: 5px;
    padding: 20px; }
    .boton #link:hover {
      background-color: #f5f5f569;
      color: #151515;
      transform: scale(1.2);
      transition: all 1s; }

.imagenTexto1 {
  display: flex; }

.imagenTexto2 {
  display: flex;
  flex-direction: row-reverse; }

.imagen1, .imagen2 {
  width: 350px;
  margin: 70px 70px; }
  .imagen1:hover, .imagen2:hover {
    transform: scale(1.1);
    transition: all 2s; }

.descripcion p, .imagenTexto1 .descripcion p, .imagenTexto2 .descripcion p, .ubicacionMapa p {
  padding: 0;
  text-align: center; }

/* Galería */
.carousel {
  background-color: rgba(128, 128, 128, 0.422); }

.videos {
  margin: 26px;
  display: flex;
  justify-content: space-around; }
  .videos iframe {
    width: 600px;
    height: 400px; }

/* Carta */
.container {
  margin-bottom: 30px; }

.col {
  background-color: #7d3e4885;
  padding: 10px 10px;
  margin: 1%; }

.negrita {
  font-weight: 800;
  color: #791121; }

/* Contacto */
.formulario {
  padding: 5%;
  margin: 0px 10%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  background-color: #7d3e48;
  border-radius: 25px; }
  .formulario .botonForm {
    display: flex;
    justify-content: center; }
    .formulario .botonForm .btn {
      background-color: #79112149;
      color: #f5f5f5; }
      .formulario .botonForm .btn:hover {
        background-color: #791121; }

/* Ubicación */
.ubicacionMapa {
  align-items: center; }
  .ubicacionMapa .logoUbicacion {
    width: 50px;
    height: 50px;
    margin-left: 0; }

.mapa {
  width: 100%;
  height: 600px; }

@media screen and (max-width: 768px) {
  .imagen1, .imagen2 {
    height: fit-content;
    margin: 20px; }
  .videos {
    display: grid;
    justify-content: center;
    margin-top: 40px; } }

@media screen and (max-width: 480px) {
  .fondo {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-evenly; }
    .fondo .subtitulo {
      padding: 0; }
  .textoCentrado {
    font-size: 1.3em; }
  .imagenTexto1, .imagenTexto2, .grid {
    display: flex;
    flex-direction: column; }
  .imagen1, .imagen2 {
    margin: 0 auto;
    width: 250px;
    padding: 15px; }
  .footer .pieMedia, .footer .footer__lista {
    display: grid;
    grid-template-columns: 1fr; }
  .videos {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px; }
    .videos iframe {
      width: 300px;
      height: 200px; } }
