/* Biografía */

.parrafo {
  color: $color-secundario;
  margin: 0px 20px;
  text-align: center;
  font-size: 20px;
}

.grupo {
  padding: 30px 80px;
  background-color: $color-terciario;

  img {
    width: 100%;
  }
}

.container {
  margin-bottom: 30px;
}

.col { 
  @include boxes (1%, 10px 10px);
  background-color: $color-cols;
}
  
.negrita {
  font-weight: 800;
  color: $color-principal;
}