/* Biografía */

.h2 {
  @extend %input;
  @include boxes(5px, 0);
  line-height: 1.42857143;
}

.parrafo {
  @extend %input;
  font-size: 20px;
  margin: 0 5%;
}

.grupo {
  @include boxes(0, 10px);
  @include flex(flex, none, none, center, none, none);

  .carousel {
    @include object(99%, none);
  }
}