/* Biografía */

.h2 {
  color: $color-secundario;
  line-height: 1.42857143;
  margin-bottom: 15px;
  text: {
    align: center;
  }
}

.parrafo {
  color: $color-secundario;
  text-align: center;
  font-size: 20px;
  margin: 15px 5%;
}

.grupo {
  padding: 10px 30px;
  display: flex;
  justify-content: center;

  .carousel {
    width: 99%;
  }
}