/* Contacto */

.formulario {
  @include object(35%, none);
  @include boxes(auto, 1%);
  @include flex(flex, column, none, none, none, none);
  margin-bottom: 30px;
  background-color: $color-form;
  border-radius: 10px;

  .p1 {
    @extend %parrafo;
  }

  .p2 {
    @extend %parrafo;
  }

  &__colocar__nombre {
    @extend %input;
  }

  &__colocar__email {
    @extend %input;
  }

  &__colocar__telefono {
    @extend %input;
  }

  &__colocar__asunto {
    @extend %input;
  }

  &__colocar__mensaje {
    @extend %input;
  }

  input {
    @extend %border;
    @include boxes(auto, 10px);
    @include object(100%, 40px);
    background-color: $color-secundario;
  }

  label{
    display: map-get($posit, "block");
  }

  textarea{
    @include object(100%, 150px);
    @extend %border;
    background-color: $color-secundario;
    margin-top: 10px;
    padding: {
      left: 10px;
      top: 10px;
    }
  }

  .botonForm {
    @include object(35%, 45px);
    padding: 0 5px;
    margin: 15px 0;

    .btn {
      @include object(100%, none);
      background-color: $boton-form;
      color: $color-secundario;
      margin-left: 100%;

      &:hover{
        background-color: $color-principal;
      }
    }
  }

  .aviso{
    @extend %input;
    font-size: 13px;
  }
}