/* Contacto */

.formulario {
  @include boxes(auto, 1%);
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  background-color: $color-form;
  border-radius: 10px;
  width: 35%;

  .p1 {
    @extend %parrafo;
  }

  .p2 {
    @extend %parrafo;
  }

  &__colocar__nombre {
    @extend %input;
  }

  &__colocar__email {
    @extend %input;
  }

  &__colocar__telefono {
    @extend %input;
  }

  &__colocar__asunto {
    @extend %input;
  }

  &__colocar__mensaje {
    @extend %input;
  }

  input {
    @extend %border;
    @include boxes(auto, 10px);
    background-color: $color-secundario;
    width: 100%;
    height: 40px;
  }

  label{
    display: map-get($posit, "block");
  }

  textarea{
    background-color: $color-secundario;
    width: 100%;
    height: 150px;
    margin-top: 10px;
    padding: {
      left: 10px;
      top: 10px;
    }
    @extend %border;
  }

  .botonForm {
    height: 45px;
    padding: 0 5px;
    margin: 15px 0;
    width: 35%;

    .btn {
      background-color: $boton-form;
      color: $color-secundario;
      width: 100%;
      margin-left: 100%;

      &:hover{
        background-color: $color-principal;
      }
    }
  }

  .aviso{
    @extend %input;
    font-size: 13px;
  }
}