/* Discografía */

.portada {
  display: flex;
  border-radius: 10px;
  min-height: 350px;
  min-width: 350px;
  font-weight: bold;
  background-size: cover;
  background-position: center;
  overflow: hidden;

  &__album {
    display: flex;
    border-radius: 10px;
    min-height: 350px;
    min-width: 350px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: 0.5s;

    &:hover {
      opacity: 1;
    }
  }
}

ol li {
  color: white;
}