/* Discografía */

.portada {
  font-weight: 500;
  border-radius: 10px;
  background: {
    size: cover;
    position: center;
  }

  &__album {
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
    min: {
      height: 350px;
      width: 350px;
    }

    &:hover {
      opacity: 1;
    }
  }
}

ol li {
  color: $color-secundario;
}