.carousel {
  background-color: rgba(128, 128, 128, 0.438);
}

.videos {
  margin: 26px;
  display: map-get($box, "display");
  justify-content: space-around;

  iframe {
    width: 600px;
    height: 400px;
  }
}