/* Galería */

.carousel {
  background-color: rgba(128, 128, 128, 0.422);
}

.videos {
  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    p {
      color: $color-terciario;
      margin: 20px 0px;
    }
  }
}