* {
  @include boxes (0px, 0px);
}

body {
  background-color: $color-terciario;

  font: {
    family: 'Lato', sans-serif;
    size: 16px;
  }
}

/* Header */

.encabezado {
  background: $gradiente-encabezado;
  position: sticky;
  top: 0px;
  z-index: 2;

  &__logo {
    width: 120px;
    margin-left: 25%;
  
    &:hover {
      transform: scale(1.1);
      transition: all 1s;
    }
  }
}

.collapse {
  display: map-get($box, "display");
  justify-content: flex-end;
}

.nav-link {
  @include boxes (5px, 5px);
  color: $link-desabilitado;
  
  font: {
    size: 1.3rem;
    weight: 500;
  }

  &:hover {
    transform: scale(0.9);
    transition: all 1s;
    color: $color-secundario;
  }

  &.activo {
    color: $color-secundario;
  }
}

.h1 {
  padding: 20px;
  text-align: map-get($box, "centro");
  color: $color-secundario;

  &:hover {
    transform: scale(1) rotateX(360deg);
    transition: all 5s;
  }
}

/* Footer */

.lista {
  @include boxes(auto, 0);
  width: 90%;
  display: map-get($box, "display");
  justify-content: map-get($box, "centro");

  .redesSociales {
    color: $color-principal;
    padding: 5px;
    font-style: normal;
    
    &:hover {
      transform: scale(1.1);
      transition: all 1s;
      color: $color-principal;
    }
  }

  i a {
    color: $color-secundario;
    text-decoration: none;

    &:hover {
      color: $color-principal;
    }
  }
}

#whatsapp {
  width: 38px;
  position: fixed;
  right: 35px;
  bottom: 21px;
  z-index: 1;
}

span {
  padding: 10px;
  color: $color-footer;

  font: {
    size: 15px;
  }
}