* {
  margin: 0px;
  padding: 0px;
}

body {
  color: $color-terciario;

  font: {
    family: 'Lato', sans-serif;
    size: 16px;
  }
}

.encabezado {
  background-color: $color-secundario;
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 20%, rgba(166, 20, 42, 1) 60%);
  border-radius: map-get($tamanios, "px");
  margin: map-get($tamanios, "box");
  position: sticky;
  top: 0px;
  z-index: 1;
}

img {
  width: 50px;
  margin-left: 25%;

  &:hover {
    transform: scale(1.1);
    transition: all 1s;
  }
}

.collapse {
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  padding: map-get($tamanios, "box");
  margin: map-get($tamanios, "box");
  font: {
    size: 1.3rem;
    weight: 500;
  }

  &:hover {
    transform: scale(0.8);
    transition: all 1s;
    color: $color-secundario;
  }

  &.activo {
    color: $color-secundario;
  }
}

.resaltado {
  background-color: #a6142ab4;
  border-radius: map-get($tamanios, "box");
}

.primerParrafo {
  text-align: center;
}

.footer {
  background-color: #000000;

  .footerSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .footer__lista {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;

    .redesSociales {
      color: $color-principal;
      padding: map-get($tamanios, "px");
      font-style: normal;

      &:hover {
        transform: scale(1.2);
        transition: all 1s;
        color: $color-principal;
      }
    }

    i a {
      color: #414549;
      text-decoration: none;

      &:hover {
        color: $color-principal;
      }
    }
  }
}

h5 {
  color: #a6142a;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: map-get($tamanios, "box");
  padding: 12px;
  line-height: 24px;

  font: {
    size: map-get($tamanios, "px");
    weight: 400;
  }
}

p {
  color: #414549;
  padding: 0px 20px;
  line-height: 24px;
  letter-spacing: 0;
  font: {
    weight: 400;
    size: 21px;
  }
}

#whatsapp {
  width: 50px;
  position: fixed;
  right: 21px;
  bottom: 21px;
}

span {
  color: $color-footer;
  padding: 10px;
  margin: 10px;
  display: flex;

  font: {
    size: 15px;
    weight: 100;
  }
}