* {
  @include boxes (0px, 0px);
}

body {
  background-color: $color-terciario;

  font: {
    family: 'Lato', sans-serif;
    size: 16px;
  }
}

/* Header */

.encabezado {
  background-color: $color-secundario;
  background: $gradiente-encabezado;
  margin: 0px;
  position: sticky;
  top: 0px;
  z-index: 2;
}

.logo {
  width: 120px;
  margin-left: 25%;

  &:hover {
    transform: scale(1.1);
    transition: all 1s;
  }
}

.collapse {
  display: map-get($box, "display");
  justify-content: flex-end;
}

.nav-link {
  @include boxes (5px, 5px);
  color: $link-desabilitado;
  
  font: {
    size: 1.3rem;
    weight: 500;
  }

  &:hover {
    transform: scale(0.9);
    transition: all 1s;
    color: $color-secundario;
  }

  &.activo {
    color: $color-secundario;
  }
}

.h1 {
  padding: 20px;
  text-align: map-get($box, "centro");
  color: $color-secundario;

  &:hover {
    transform: scale(1) rotateX(360deg);
    transition: all 5s;
  }
}

/* Footer */

.footer {
  background-color: $color-terciario;

  .footerSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__lista {
    @include boxes (auto, 0);
    width: 90%;
    display: map-get($box, "display");
    flex-direction: row;
    justify-content: map-get($box, "centro");

    .redesSociales {
      color: $color-principal;
      padding: 5px;
      font-style: normal;

      &:hover {
        transform: scale(1.1);
        transition: all 1s;
        color: $color-principal;
      }
    }

    i a {
      color: $color-secundario;
      text-decoration: none;

      &:hover {
        color: $color-principal;
      }
    }
  }
}

h5 {
  @include boxes (5px, 12px);
  @include flex (flex, row);
  justify-content: map-get($box, "centro");
  color: $resaltado;
  line-height: 24px;

  font: {
    size: map-get($tamanios, "px");
    weight: 400;
  }
}

p {
  @include boxes (10px, 0px 20px);
  color: $color-secundario;
  line-height: 24px;
  letter-spacing: 0;
  
  font: {
    weight: 400;
    size: 21px;
  }
}

#whatsapp {
  width: 38px;
  position: fixed;
  right: 35px;
  bottom: 21px;
}

span {
  padding: 10px;
  color: $color-footer;
  display: map-get($box, "display");

  font: {
    size: 15px;
    weight: 100;
  }
}