/* Index */

.titulo {
  @include boxes(none, 30px);
  color: $color-secundario;
  font-size: 3em;
  
  &__parrafo {
    @extend %input;
    margin: 0.5px 3%;
    font-size: x-large;
  }

  &__centrado {
    @extend %input;
    @include boxes(15px, none);
    line-height: 1.42857143;
  }

  &__trinchera {
    @include boxes(15px, 15px);
    @include flex(flex, none, none, center, none, none);

    iframe {
      @include object(660px, 415px);
    }
  }
}

h2 {
  font-family: $font-family;
}

.boton {
  @include object(none, 80px);
  @include flex(flex, none, none, center, none, center);
  margin-bottom: 30px;

  #link {
    @include boxes(0, 10px);
    color: $color-secundario;
    text-decoration: map-get($font, "deco");
    background-color: $index-btn;
    border: solid 2px $color-secundario;
    border-radius: 5px;
    font: {
      size: 15px;
      weight: 400;
    }

    &:hover {
      @extend %animaciones;
      background-color: $index-btn-h;
      color: $color-secundario;
    } 
  }
}