/* Index */

.titulo {
  @include boxes (0, 30px);
  color: $color-secundario;
  font-size: 3em;
  
  &__parrafo {
    color: $color-secundario;
    margin: 1px 3%;
    text-align: center;
    font-size: x-large;
  }

  &__centrado {
    color: $color-secundario;
    line-height: 1.42857143;
    margin: 15px;
    text: {
      align: map-get($box, "centro");
    }
  }

  &__trinchera {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    margin: 15px;
    padding: 15px;

    iframe {
      width: 660px;
      height: 415px;
    }
  }
}

h2 {
  font-family: $font-family;
}

.boton {
  text-align: center;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  #link {
    color: $color-secundario;
    text-decoration: map-get($font, "deco");
    background-color: $index-btn;
    border: solid 2px $color-secundario;
    border-radius: 5px;
    padding: 10px;
    font: {
      size: 15px;
      weight: 400;
    }

    &:hover {
      background-color: $index-btn-h;
      color: $color-secundario;
      transform: map-get($posit, "scale1");
      transition: map-get($posit, "transit1");
    } 
  }
}