@media screen and (max-width: 1440px) {
  .imagen1, .imagen2 {
    height: fit-content;
    margin: 20px;
  }

  .videos {
    display: flex;
    align-content: center;
    justify-content: center;

    iframe {
      width: 350px;
      height: 200px;
      margin: 10px;
    }
  }
}

@media screen and (max-width: 480px) {
  .fondo {
    @include grid (grid, 1fr);
    justify-content: space-evenly;
    
    .subtitulo {
      padding: 0;
    } 
  }
      
  .textoCentrado {
    font-size: 1.3em;
  }
    
  .imagenTexto1, .imagenTexto2, .grid {
    @include flex (flex, column);
    align-items: center;
  }
    
  .imagen1, .imagen2 {
    @include boxes (0auto, 15px);
    width: 250px;
  }

  .footer {
    .pieMedia {
      @include grid (grid, 1fr);
    }

    .footer__lista {
      @include grid (grid, 1fr);
      justify-items: center;
    }
  }

  .videos {
    @include grid (grid, 1fr);
    margin: 20px;

    iframe {
      width: 300px;
      height: 200px;
    }
  }
}