@media screen and (max-width: 768px) {
  .formulario {
    width: 60%;
  }

  .titulo__trinchera {
    iframe {
      width: 400px;
      height: 300px;
    }
  }
 }

@media screen and (max-width: 425px) {
  .formulario {
    width: 80%;
  }

  .gira__tour {
    min-width: 350px;
  }

  .titulo__trinchera {
    iframe {
      width: 300px;
      height: 250px;
    }
  }
}