/* Tour */

.gira {
  border-radius: 5px;
  background: {
    size: map-get($z, "cover");
    position: center;
  }
  
  &__tour {
    @include flex(flex, column, none, end, none, none);
    color: $color-secundario;
    font-weight: map-get($font, "bold");
    min: {
      height: 300px;
      width: 450px;
    }

    &:hover {
      opacity: map-get($z, "1");
    }

    &__entradas {
      color: $color-secundario;

      &:hover {
        color: $link-desabilitado;
      }
    }
  }
}

.d-block {
  margin: 30px 0;
}