$color-principal: #791121;
$color-secundario: #f5f5f5;
$color-terciario: #000000;
$link-desabilitado: #f48fb0;
$gradiente-encabezado: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,0,0,0.9783263647255778) 4%);
$gradiente-h1: linear-gradient(90deg, rgba(244,244,244,1) 0%, rgba(121,17,33,1) 50%, rgba(244,244,244,1) 100%);
$index-btn: #6b54547c;
$index-btn-h: #f5f5f5ae;
$resaltado: #a6142ab4;
$color-cols: #7d3e4885;
$color-form: #7d3e48;
$boton-form: #79112149;
$color-footer: #77777758;
$letras-footer: #555a5f;
$fondo-footer: #000000;

$font-family: "Playfair Display", serif;

/* Maps */

$tamanios: (
  "px": 20px,
  "box": 5px,
);
  
$box: (
  "display": flex,
  "linea": column,
  "centro": center
);

/* Extends */

.descripcion {
  display: map-get($box, "display");
  flex-direction: map-get($box, "linea");
  justify-content: map-get($box, "centro");
}

h4 {
  letter-spacing: 0mm;
  padding: 10px 50px 20px;
  font-family: $font-family;
  font-size: 1.5rem;
  text-align: center;
}

/* Mixins */

@mixin boxes ($margin, $padding) {
  margin: $margin;
  padding: $padding;
}

@mixin flex ($display, $direction) {
  display: $display;
  flex-direction: $direction;
}

@mixin grid ($display, $grid-template-columns) {
  display: $display;
  grid-template-columns: $grid-template-columns;
}