$color-principal: rgb(126, 7, 25);
$color-secundario: #f5f5f5;
$color-terciario: #000000;
$link-desabilitado: #f48fb0;
$index-btn: rgba(126, 7, 25, 0.577);
$index-btn-h: rgb(128, 46, 59);
$gradiente-encabezado: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,0,0,0.9783263647255778) 4%);
$album-h: rgba(0, 0, 0, 0.8);
$color-form: #7d3e48;
$boton-form: #79112149;
$color-footer: #95959558;
$font-family: "Playfair Display", serif;

/* Maps */

$font: (
  "f-body": 'Lato',
  "style": normal,
  "deco": none,
  "bold": bold,
  "solid" :solid
);

$posit: (
  "block": block,
  "stick": sticky,
  "fixed": fixed,
  "scaleh1": scale(1) rotateX(360deg),
  "scale1": scale(1.1),
  "scale09": scale(0.9),
  "transit1": all 1s,
  "transit5": all 5s
);

$z: (
  "cover": cover,
  "0": 0,
  "1": 1,
  "2": 2
);

/* Extends */

.input {
  text-align: center;
  color: $color-secundario;
}

%flexbox {
  letter-spacing: 0mm;
  padding: 10px 50px 20px;
  font-family: $font-family;
  font-size: 1.5rem;
  text-align: center;
}

/* Mixins */

@mixin boxes ($margin, $padding) {
  margin: $margin;
  padding: $padding;
}

@mixin flex ($display, $direction) {
  display: $display;
  flex-direction: $direction;
}

@mixin grid ($display, $grid-template-columns) {
  display: $display;
  grid-template-columns: $grid-template-columns;
}